<a href="https://colab.research.google.com/github/9more/Analysis/blob/main/loan_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##This project seeks to identify and analyse the factors that led to a clent's comapany loan beneficairies efaulting on their loan payment time.
## A total of 227,000 data points were provided for the project.
##The project would statrt by cleaning and preparing the daateset for insightful abalysis. This would include, among others, removing duplicates, formatting string objects and dates and creating a binary classification for the target variable

> Add blockquote

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import warnings
warnings.filterwarnings('ignore')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
loan = pd.read_csv('/content/drive/MyDrive/loan_data.csv')

In [ ]:
np.subtract(loan['customer_id'].unique().shape, loan.shape[0])

array([-17688])

In [ ]:
loan['customer_id'].duplicated().sum()

np.int64(17688)

In [ ]:
dict(loan.dtypes)

{'customer_id': dtype('int64'),
 "customer's_nth_loan": dtype('int64'),
 'loan_signdate': dtype('O'),
 'loan_contractapproveddate': dtype('O'),
 'loan_principal': dtype('int64'),
 'loan_status': dtype('O'),
 'customer_country': dtype('O'),
 'customer_date_of_birth': dtype('O'),
 'customer_monthly_salary': dtype('float64'),
 'customer_credit_rating': dtype('float64'),
 'total_collected': dtype('float64')}

In [ ]:
loan.set_index('customer_id' , inplace=True)

In [ ]:
loan.head()

,customer's_nth_loan,loan_signdate,loan_contractapproveddate,loan_principal,loan_status,customer_country,customer_date_of_birth,customer_monthly_salary,customer_credit_rating,total_collected
customer_id,,,,,,,,,,
988641,1,01/01/2011 11:59,NaN,200,SUSPENDED,Japan,25/11/1972,1500.0,700.0,0.0
307505,1,01/01/2011 12:12,02/01/2011 10:55,200,PAID IN FULL,Panama,28/06/1961,1117.0,760.0,428.0
766805,1,01/01/2011 16:05,02/01/2011 10:55,200,PAID IN FULL,France,28/05/1983,1600.0,760.0,1622.0
990925,1,01/01/2011 16:13,NaN,200,PAID IN FULL,Canada,06/03/1986,2634.0,740.0,437.0
991365,1,01/01/2011 17:23,NaN,200,SUSPENDED,Brazil,10/05/1957,2232.0,620.0,553.0

In [ ]:
loan.sort_values(by="customer's_nth_loan", inplace=True, ascending=False)

In [ ]:
loan['sign_date']=pd.to_datetime(loan['loan_signdate'])

In [ ]:
loan.drop(loan.index[7631], axis=0, inplace=True)

In [ ]:
loan['loan_contractapproveddate'].replace('0000-00-00 00:00:00', '', inplace=True)

In [ ]:
loan['approved_date'] = pd.to_datetime(loan['loan_contractapproveddate'])

In [ ]:
loan['sign_month'], loan['approved_month']=(loan['sign_date'].dt.month_name(), loan['approved_date'].dt.month_name())

In [ ]:
loan['signed_year'], loan['approved_year']=loan['sign_date'].dt.year, loan['approved_date'].dt.year

In [ ]:
loan.dropna(axis=0, inplace=True)

In [ ]:
loan[['approved_year','signed_year']]=loan[['approved_year','signed_year']].astype('int')

In [ ]:
loan.head()

,customer's_nth_loan,loan_signdate,loan_contractapproveddate,loan_principal,loan_status,customer_country,customer_date_of_birth,customer_monthly_salary,customer_credit_rating,total_collected,sign_date,approved_date,sign_month,approved_month,signed_year,approved_year
customer_id,,,,,,,,,,,,,,,,
82011,26,19/12/2012 15:36,19/12/2012 16:17,300,PAID IN FULL,Israel,22/12/1961,1400.0,760.0,518.0,2012-12-19 15:36:00,2012-12-19 16:17:00,December,December,2012,2012
82011,25,21/11/2012 11:44,21/11/2012 11:52,300,PAID IN FULL,Israel,22/12/1961,1400.0,760.0,409.0,2012-11-21 11:44:00,2012-11-21 11:52:00,November,November,2012,2012
82011,24,11/10/2012 07:38,11/10/2012 08:03,300,PAID IN FULL,Israel,22/12/1961,1400.0,760.0,518.0,2012-10-11 07:38:00,2012-10-11 08:03:00,October,October,2012,2012
82011,23,20/09/2012 11:51,20/09/2012 12:00,300,PAID IN FULL,Israel,22/12/1961,1400.0,760.0,409.0,2012-09-20 11:51:00,2012-09-20 12:00:00,September,September,2012,2012
82011,22,30/08/2012 20:16,31/08/2012 09:20,300,PAID IN FULL,Israel,22/12/1961,1400.0,760.0,409.0,2012-08-30 20:16:00,2012-08-31 09:20:00,August,August,2012,2012